html, body {
    background-color: rgb(51, 61, 56);
    color: white;
}

hr {
    margin-top: 3em;
    margin-bottom: 3em;
}

nav ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
    list-style: none;
}

.my-buttons {
    display: inline-block;
    cursor: pointer;
    padding: 1em;
    margin: 1em;
    background-color: silver;
}

.popup {
    border: 1px solid silver;
    display: inline-block;
}

#file-drop-area, #settings-drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

#result-text {
    display: block;
    padding: 1em;
    margin: 1em;
}

table.transactions {
    width: 100%;
    border-collapse: collapse;
}
    table.transactions th, table.transactions td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    table.transactions th {
        background-color: rgb(0, 0, 0);
        text-align: left;
    }
    table.transactions tr:nth-child(even) {
        background-color: rgb(70, 70, 70);
    }
    table.transactions tr:hover {
        background-color: #374d3a;
    }

.tag-chip {
    margin-right: 0.2em;
    padding: 0.2em;
    background-color: #4ab477;
    color: black;
    border-radius: 0.2em;
}
    .tag-chip.parsed {
        display: inline-block;
        background-color: blueviolet;
    }