.my-buttons {
    display: inline-block;
    cursor: pointer;
    padding: 1em;
    margin: 1em;
    background-color: silver;
}

#file-drop-area, #settings-drop-area {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

#dynamic-results th {
    font-weight: bold;
    text-align: right;
}

.tag-chip {
    margin-right: 0.2em;
    padding: 0.2em;
    background-color: #4ab477;
    color: black;
    border-radius: 0.2em;
}
    .tag-chip.parsed {
        display: inline-block;
        background-color: blueviolet;
    }