/* Full Page Layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
  flex: 1;
}

/* Pico Tooltip Feature with newlines*/
.long-tooltip:before {
    white-space: wrap;
    width: 200px;
}

/* full width block with right aligned Elements */
.center {
    text-align: center;
}

/* Red Button */
.delete {
    color: white;
    border-color: rgb(175, 41, 29);
    background-color: rgb(175, 41, 29);
}
    .outline.delete {
        color: rgb(217, 53, 38);
        border-color: rgb(217, 53, 38);
        background-color: transparent;
    }

/* File Upload Area */
#file-drop-area, #settings-drop-area {
    border-width: 2px;
    border-style: dashed;
    border-color: #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

/* Details-Table */
#dynamic-results th {
    font-weight: bold;
    text-align: right;
}

/* Tag Steuerung */
.tag-chip {
    margin-right: 0.2em;
    padding: 0.2em;
    background-color: #4ab477;
    color: black;
    border-radius: 0.2em;
}
    .tag-chip.parsed {
        display: inline-block;
        background-color: blueviolet;
    }