/* Full Page Layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
  flex: 1;
}

/* Pico Tooltip Feature with newlines*/
.long-tooltip:before {
    white-space: wrap;
    width: 200px;
}

/* full width block with right aligned Elements */
.center {
    text-align: center;
}

/* Hide an Element */
.hide {display: none !important;}

/* float bottom righth Button/Container */
.bottom-right {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 1000;
}
    .bottom-right > button {
        border-radius: 2em;
    }

/* Buttons */
.delete {
    color: white;
    border-color: rgb(175, 41, 29);
    background-color: rgb(175, 41, 29);
}
    .outline.delete {
        color: rgb(217, 53, 38);
        border-color: rgb(217, 53, 38);
        background-color: transparent;
    }

/* File Upload Area */
#file-drop-area, #settings-drop-area {
    padding: 0.5em;
    max-width: 80%;
    line-height: 1.5em;
    border-width: 2px 0 2px 2px;
    border-style: dashed;
    border-color: #ccc;
    text-align: center;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
}

/* Details-Table */
#dynamic-results th {
    font-weight: bold;
    text-align: right;
}

/* Tag Steuerung
.tag-chip {
    margin-right: 0.2em;
    padding: 0.2em;
    background-color: #4ab477;
    color: black;
    border-radius: 0.2em;
}
    .tag-chip.parsed {
        display: inline-block;
        background-color: blueviolet;
    }
*/
.tag-chip {
    display: inline-block;
    padding: .375rem;
    margin: 0.33em 0;
    margin-right: 0.33em;
    background: var(--pico-code-background-color);
    background-color: var(--pico-code-kbd-background-color);
    border-radius: var(--pico-border-radius);
    color: var(--pico-code-kbd-color);
    vertical-align: baseline;
    font-weight: bolder;
    font-size: .875em;
    font-family: var(--pico-font-family);
    line-height: initial;
    text-decoration: none;
}
    .tag-chip:hover, .tag-chip a, .tag-chip a:hover {
        text-decoration: none;
        color: initial;
    }
    .tag-chip.parsed {
        background-color: blueviolet;
    }
    .tag-chip a {
        margin-left: 0.33em;
        color: var(--pico-secondary);
    }