/* Colors */
:host,:root{
    --pico-color-red-500: rgb(217, 53, 38);
    --pico-color-red-600: rgb(175, 41, 29);
}

/* Full Page Layout */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
  flex: 1;
}

.container.hero {
    margin-top: 10%;
}

/* Pico Tooltip Feature with newlines*/
.long-tooltip:before {
    white-space: wrap;
    width: 200px;
}

/* full width block with right aligned Elements */
.center {
    text-align: center;
}

/* Hide an Element */
.hide {display: none !important;}
/* Hide when S */
@media (max-width: 767px) {.hide-s {display:none !important;}}
/* Hide when M or smaller */
@media (max-width: 1023px) {.hide-m {display:none !important;}}

/* Color classes */
.delete {
    color: white;
    border-color: var(--pico-color-red-600);
    background-color: var(--pico-color-red-600);
}
    .outline.delete {
        color: var(--pico-color-red-500);
        border-color: var(--pico-color-red-500);
        background-color: transparent;
    }
small.secondary, strong.secondary, i.secondary {
    color: var(--pico-secondary);
}

/* Buttons */
/* float bottom righth Button/Container */
.bottom-fixed {
    position: fixed;
    bottom: 1em;
    z-index: 1000;
}
    .bottom-fixed.right {right: 1em;}
    .bottom-fixed.left {left: 1em;}
    .bottom-fixed > button {
        border-radius: 2em;
    }
/* Info TX button */
button.info {
    padding: 1em;
    line-height: 0em;
}

/* Number indicator on Buttons */
.badge {
    position: absolute;
    top: -7px;
    right: -7px;
    padding: 2.5px 0.5em;
    border-radius: 50%;
    background: var(--pico-color-red-600);
    color: white;
}

/* File Upload Area */
#file-drop-area, #settings-drop-area {
    padding: 0.5em;
    max-width: 80%;
    line-height: 1.5em;
    border-width: 2px 0 2px 2px;
    border-style: dashed;
    border-color: #ccc;
    text-align: center;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    cursor: pointer;
}

/* Tables */
.transactions .amount {
    white-space: nowrap;
    text-align: right;
}

#dynamic-results tr th {
    font-weight: bold;
}

/* S : Slim button in transaction table */
@media (max-width: 767px) {
    .transactions th.amount {
        text-align: center;
    }
    .transactions tr {
        border-bottom: var(--pico-border-width) solid var(--pico-table-border-color);
    }
    .transactions td button {
        padding: 1em 0.5em; margin: 0;
        background-color: transparent; border: 0;
        color: var(--pico-secondary);
    }
}

/* M and smaller: TX Details Page */
@media (max-width: 1023px) {
    .single-transaction tr td:first-child{
        font-weight: bold;
    }
}

.tag-chip {
    display: inline-block;
    padding: .375rem;
    margin: 0.33em 0;
    margin-right: 0.33em; /* Add spaces between Tags */
    background: var(--pico-code-background-color);
    background-color: var(--pico-code-kbd-background-color);
    border-radius: var(--pico-border-radius);
    color: var(--pico-code-kbd-color);
    font-weight: bolder;
    font-size: .875em;
    font-family: var(--pico-font-family);
    line-height: initial;
    text-decoration: none;
    white-space: nowrap;
}
    .tag-chip a.remove { color: var(--pico-code-kbd-color); }
    #filter-tag-container .tag-chip:last-child,
    #add-tag-container .tag-chip:last-child,
    #tag-container .tag-chip:last-child {
        /* Push following input */
        margin-bottom: 1em;
    }
    .tag-chip:hover, .tag-chip a, .tag-chip a:hover {
        text-decoration: none;
    }
    .tag-chip a.remove:hover{
        color: var(--pico-color-red-500);
    }
    .tag-chip a {
        margin-left: 0.33em;
    }

    .tag-chip.parsed {background-color: blueviolet; color:black;}
    .tag-chip:hover { filter: brightness(110%); }

    /* Generated Color Classes */
    .category.gen-color-0 { background-color: #e57373; color: black; }
    .category.gen-color-1 { background-color: #f06292; color: white; }
    .category.gen-color-2 { background-color: #ba68c8; color: white; }
    .category.gen-color-3 { background-color: #9575cd; color: white; }
    .category.gen-color-4 { background-color: #7986cb; color: white; }
    .category.gen-color-5 { background-color: #64b5f6; color: black; }
    .category.gen-color-6 { background-color: #4fc3f7; color: black; }
    .category.gen-color-7 { background-color: #4dd0e1; color: black; }
    .category.gen-color-8 { background-color: #4db6ac; color: white; }
    .category.gen-color-9 { background-color: #81c784; color: black; }
    .category.gen-color-10 { background-color: #aed581; color: black; }
    .category.gen-color-11 { background-color: #dce775; color: black; }
    .category.gen-color-12 { background-color: #fff176; color: black; }
    .category.gen-color-13 { background-color: #ffd54f; color: black; }
