
{% extends 'layout.html' %}

{% block content %}


<header class="container flex">
    <nav>
        <ul>
            <li>
                <hgroup>
                    <h3>
                        Kontoumsätze
                    </h3>
                    {{IBAN}}
                </hgroup>
            </li>
        </ul>
        <ul>
            <li>
                <button data-target="rule-popup" class="secondary" onclick="toggleModal(event)">
                    &#128209; Regeln
                </button>
            </li>
            <li>
                &#128202; <a href="/{{IBAN}}/stats?{{ request.query_string.decode('utf-8')|safe }}" title="Statistiken">Statistik</a>
            </li>
            <li>
                &#128682; <a href="/logout" title="Logout">Logout</a>
            </li>
        </ul>
    </nav>
</header>

<main class="container flex">
    <section>
        <!-- TODO: M Screens: No Padding 'container'; Kategorie und Tags floating (drunter?) -->
        <!-- TODO: S und XS Screens: No Padding; Stack all -->
        <table class="transactions">
            <thead>
                <tr>
                    <th><input type="checkbox" id="select-all"></th>
                    <th>Datum<br><small class="secondary">(Valuta)</small></th>
                    <th>Buchungstext</th>
                    <th class="hide-m">Kategorie</th>
                    <th class="hide-m">Tags</th>
                    <th class="betrag">Betrag</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% from 'macros.html' import createTxRow %}
                {% for transaction in transactions %}

                    {{ createTxRow(transaction) }}

                {% endfor %}
            </tbody>
        </table>

        <footer class="center"><a href='javascript:loadMore()' class="secondary">mehr laden</a></footer>
    </section>

</main>

<footer>
    <section class="bottom-fixed right">
        <button class="{% if filters.keys() %}primary{%else%}secondary outline{%endif%}" data-target="filter-popup" onclick="toggleModal(event)">
            &#128269;
        </button>
    </section>
    <section class="bottom-fixed left">
        <button id="edit-selected" class="secondary outline hide" data-target="massedit-popup" onclick="toggleModal(event)" disabled title="Edit (nichts ausgewählt)">
        ✏️
        <span class="badge"></span>
        </button>
    </section>
</footer>

<!-- Popups -->
<dialog id="massedit-popup">
    <article>
        <header>
            <button aria-label="Close" rel="prev" data-target="massedit-popup" onclick="toggleModal(event)"></button>
            <h2>Stapel bearbeiten</h2>
        </header>

        <details name="tx_list">
            <summary>Liste der Transaktionen, die bearbeitet werden:</summary>
            <ul id="tx-select-list">
            </ul>
        </details>

        <hr />

        <div id="add-tag-container"></div>
        <div role="group">
            <input type="text" id="add-tag" list="tag-list" placeholder="weiteres Tag (Enter)" value="">
            <button onclick="addTag()">hinzufügen</button>
        </div>
        <datalist id="tag-list">
            {% for t in tags %}
            <option>{{ t }}</option>
            {% endfor %}
        </datalist>

        <div role="group">
            <input type="text" id="add-cat" list="cat-list" placeholder="Kategorie" value="">
            <button onclick="addCat()">hinzufügen</button>
        </div>
        <datalist id="cat-list">
            {% for c in categories %}
            <option>{{ c }}</option>
            {% endfor %}
        </datalist>

        <hr />
        <p class="center">
            <button onclick="removeTags()" class="delete outline">Tags entfernen</button>
            <button onclick="removeCats()" class="delete outline">Kategorie entfernen</button>
        </p>
        
    </article>
</dialog>

<dialog id="rule-popup">
    <article>
        <header>
            <button aria-label="Close" rel="prev" data-target="rule-popup" onclick="toggleModal(event)"></button>
            <h2>Regelsätze</h2>
        </header>
        <p>Es können standardmäßig alle oder jeweils nur eine ausgewählte Regel auf alle Transaktionen zum Taggen oder Kategorisieren genutzt werden.</p>

        <h3>Tags</h3>
        <p>
            <select id="tag-select">
                <option value="">Alle Regeln</option>
                {% for r in rules %}
                <option>{{r}}</option>
                {% endfor %}
                <option value="ui_selected_custom">Custom</option>
            </select>
            <label>
                <input type="checkbox" id="tag-dry">
                Dry Run (Es werden keine Transaktionen geändert)
            </label>
        </p>

        <p>
            <details name="custom-tagging">
            <summary>Eigene Tagging-Regel</summary>
                <textarea type="text" id="custom-tag" placeholder="{&#10;  JSON&#10;}" rows="8"></textarea>
                <small>Wähle die Regel "Custom", um dieses Textfeld zu nutzen.</small>
            </details>
        </p>

        <h3>Kategorien</h3>
        <p>
            <select id="cat-select">
                <option value="">Alle Regeln</option>
                {% for c in categories %}
                <option>{{c}}</option>
                {% endfor %}
                <option value="ui_selected_custom">Custom</option>
            </select>
            <label>
                <input type="checkbox" id="cat-dry">
                Dry Run (Es werden keine Transaktionen geändert)
            </label>
        </p>

        <p>
            <details name="custom-cat">
            <summary>Eigene Kategorisierungs-Regel</summary>
                <textarea type="text" id="custom-cat" placeholder="{&#10;  JSON&#10;}" rows="10"></textarea>
                <small>Wähle die Regel "Custom", um dieses Textfeld zu nutzen.</small>
            </details>
        </p>

        <footer>
            <button class="" onclick="tagAndCat('tag')">Taggen</button>
            <button class="" onclick="tagAndCat('cat')">Kategorisieren</button>
        </footer>
    </article>
</dialog>

<dialog id="details-popup">
    <article>
        <header>
            <button rel="prev" aria-label="Close" data-target="details-popup" onclick="toggleModal(event)"></button>
            <h2>Transaktions Details</h2>
        </header>
        <table id="dynamic-results">
            <tbody>
                <tr>
                    <th>Buchungsdatum:</th>
                    <td class="date_tx"></td>
                </tr>
                <tr>
                    <th>Wertstellung:</th>
                    <td class="valuta"></td>
                </tr>
                <tr>
                    <th>Art:</th>
                    <td class="art"></td>
                </tr>
                <tr>
                    <th>Gegenkonto:</th>
                    <td class="gegenkonto"></td>
                </tr>
                <tr>
                    <th>Betrag</th>
                    <td class="betrag"></td>
                </tr>
                <tr>
                    <th>Währung:</th>
                    <td class="currency"></td>
                </tr>
                <tr>
                    <th>Kategorie:</th>
                    <td class="category"></td>
                </tr>
                <tr>
                    <th>Tags:</th>
                    <td class="tags"></td>
                </tr>
                <tr>
                    <th>Buchungstext:</th>
                    <td class="text_tx"></td>
                </tr>
            </tbody>
        </table>
        <footer>
            <a role="button" class="secondary" target="_blank" href="">mehr Details</a>
        </footer>
    </article>
</dialog>

{% from 'macros.html' import filterDialog %}
{{ filterDialog(filters) }}

<script src="{{ url_for('static', filename='js/iban.js') }}"></script>

{% endblock %}
