
{% extends 'layout.html' %}

{% block content %}

<h1>Kontoübersicht</h1>


<header>
    <nav>
        <ul>
            <li>
                <button id="edit-selected" data-target="massedit-popup" onclick="toggleModal(event)" disabled title="Edit (nichts ausgewählt)">
                    ✏️
                </button>
                <button data-target="tag-popup" onclick="toggleModal(event)">
                    Rule Tagging
                </button>
                <button data-target="cat-popup" onclick="toggleModal(event)">
                    Rule Kategorisieren
                </button>
            </li>
            <li>
                <input type="date" id="filter-range-start" placeholder="Start Date: d.m.Y" value="{{filters.startDate|ctime if filters.startDate}}">
                <input type="date" id="filter-range-end" placeholder="End Date: d.m.Y" value="{{filters.endDate|ctime if filters.endDate}}">
                <input type="text" id="filter-text" placeholder="RegEx Textfilter" value="{{filters.text}}">
                <input type="text" id="filter-cat" list="cat-list" placeholder="Kategorie" value="{{filters.category}}">
                <input type="text" id="filter-tag" list="tag-list" placeholder="Tag (, getrennt)" value="{{filters.tags}}">
                <select id="filter-tag-mode">
                    <option value="in" {{"selected" if filters.tag_mode and filters.tag_mode == 'in'}}>eines davon</option>
                    <option value="all" {{"selected" if filters.tag_mode and filters.tag_mode == 'all'}}>alle davon</option>
                    <option value="notin" {{"selected" if filters.tag_mode and filters.tag_mode == 'notin'}}>keine davon</option>
                </select>
                <input type="text" id="filter-betrag" placeholder="Betrag" value="{{filters.betrag if filters.betrag}}">
                <select id="filter-betrag-mode">
                    <option value="==" {{"selected" if filters.betrag_mode and filters.betrag_mode == '=='}}>gleich</option>
                    <option value="<=" {{"selected" if filters.betrag_mode and filters.betrag_mode == '<='}}>kleiner gleich</option>
                    <option value="<" {{"selected" if filters.betrag_mode and filters.betrag_mode == '<'}}>kleiner als</option>
                    <option value=">" {{"selected" if filters.betrag_mode and filters.betrag_mode == '>'}}>größer als</option>
                    <option value=">=" {{"selected" if filters.betrag_mode and filters.betrag_mode == '>='}}>größer gleich</option>
                </select>
                <button id="apply-filter">Apply</button>
                <button id="reset-filter">Reset</button>
            </li>
            <li>
                <a href="/{{IBAN}}/stats" title="Logout">&sum;</a>
            </li>
            <li>
                <a href="/logout" title="Logout">🚪</a>
            </li>
        </ul>
    </nav>
</header>

<main class="container">

    <table class="transactions">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>Date</th>
                <th>Text</th>
                <th>Category</th>
                <th>Tags</th>
                <th>Betrag</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% from 'macros.html' import createTxRow %}
            {% for transaction in transactions %}

                {{ createTxRow(transaction) }}

            {% endfor %}
        </tbody>
    </table>
    <footer class="center"><a href='javascript:loadMore()' class="secondary">mehr laden</a></footer>
</main>

<!-- Popups -->
<dialog id="massedit-popup">
    <article>
        <header>
            <button aria-label="Close" rel="prev" data-target="massedit-popup" onclick="toggleModal(event)"></button>
            <h2>Mass Edit</h2>
        </header>

        <details name="tx_list">
            <summary>Liste der Transaktionen, die bearbeitet werden:</summary>
            <ul id="tx-select-list">
            </ul>
        </details>

        <div id="tag-container">
            <input type="text" id="add-tag" list="tag-list" placeholder="Tag hinzufügen" value="">
            <datalist id="tag-list">
                {% for t in tags %}
                <option>{{ t }}</option>
                {% endfor %}
            </datalist>
            <button onclick="addTag()">Tag hinzufügen</button>
            <button onclick="removeTags()" class="contrast">Tags entfernen</button>
        </div>

        <input type="text" id="add-cat" list="cat-list" placeholder="Kategorie" value="">
        <datalist id="cat-list">
            {% for c in categories %}
            <option>{{ c }}</option>
            {% endfor %}
        </datalist>
        <button onclick="addCat()">Kategorie setzen</button>
        <button onclick="removeCats()">Kategorie entfernen</button>
    </article>
</dialog>

<dialog id="tag-popup">
    <article>
        <header>
            <button aria-label="Close" rel="prev" data-target="tag" onclick="toggleModal(event)"></button>
            <h2>Tagging</h2>
        </header>
        
        <p>Es können standardmäßig alle oder nur eine ausgewählte Regel auf alle Transaktionen zum Tagging genutzt werden.</p>
        <p>
            <select id="tag-select">
                <option value="">Alle Regeln</option>
                {% for r in rules %}
                <option>{{r}}</option>
                {% endfor %}
                <option value="ui_selected_custom">Custom</option>
            </select>
            <label>
                <input type="checkbox" id="tag-dry">
                Dry Run (Es werden keine Transaktionen geändert)
            </label>
        </p>
        <p>
            <textarea type="text" id="custom-tag" placeholder="{&#10;  JSON&#10;}" rows="8"></textarea>
            <small>Wähle die Regel "Custom", um dieses Textfeld zu nutzen.</small>
        </p>
        
        <footer>
            <button onclick="tagAndCat('tag')">Tag Transaktionen</button>
        </footer>
    </article>
</dialog>

<dialog id="cat-popup">
    <article>
        <header>
            <button rel="prev" aria-label="Close" data-target="cat-popup" onclick="toggleModal(event)"></button>
            <h2>Kategoriesierung</h2>
        </header>

        <p>Es können standardmäßig alle oder nur eine ausgewählte Regel auf alle Transaktionen zum Kategorisieren genutzt werden.</p>
        <p>
            <select id="cat-select">
                <option value="">Alle Regeln</option>
                {% for c in categories %}
                <option>{{c}}</option>
                {% endfor %}
                <option value="ui_selected_custom">Custom</option>
            </select>
            <label>
                <input type="checkbox" id="cat-dry">
                Dry Run (Es werden keine Transaktionen geändert)
            </label>
        </p>
        <p>
            <textarea type="text" id="custom-cat" placeholder="{&#10;  JSON&#10;}" rows="10"></textarea>
            <small>Wähle die Regel "Custom", um dieses Textfeld zu nutzen.</small>
        </p>

        <footer>
            <button onclick="tagAndCat('cat')">Kategorisieren</button>
        </footer>        
    </article>
</dialog>

<dialog id="details-popup">
    <article>
        <header>
            <button rel="prev" aria-label="Close" data-target="details-popup" onclick="toggleModal(event)"></button>
            <h2>Transaktions Details</h2>
        </header>
        <table id="dynamic-results">
            <tbody>
                <tr>
                    <th>Buchungsdatum:</th>
                    <td class="date_tx"></td>
                </tr>
                <tr>
                    <th>Wertstellung:</th>
                    <td class="valuta"></td>
                </tr>
                <tr>
                    <th>Art:</th>
                    <td class="art"></td>
                </tr>
                <tr>
                    <th>Gegenkonto:</th>
                    <td class="gegenkonto"></td>
                </tr>
                <tr>
                    <th>Betrag</th>
                    <td class="betrag"></td>
                </tr>
                <tr>
                    <th>Währung:</th>
                    <td class="currency"></td>
                </tr>
                <tr>
                    <th>Kategorie:</th>
                    <td class="category"></td>
                </tr>
                <tr>
                    <th>Tags:</th>
                    <td class="tags"></td>
                </tr>
                <tr>
                    <th>Buchungstext:</th>
                    <td class="text_tx"></td>
                </tr>
            </tbody>
        </table>
        <footer>
            <a role="button" class="outline secondary" target="_blank" href="">Details öffnen</a>
        </footer>
    </article>
</dialog>

<script src="{{ url_for('static', filename='js/iban.js') }}"></script>

{% endblock %}
