{% extends 'layout.html' %}

{% block content %}

<main class="container">
    <hgroup>
        <h1>Pynance Parser</h1>
        <p>Manage your Bankaccounts like a Boss !</p>
    </hgroup>

    <p>
        Wenn du neu hier bist, beginne mit deinem ersten Import zu einem Konto. Es wird dabei automatisch erstellt.
    </p><p>
        Wähle ansonsten aus deinen bereits bestehenden Kontoumsätzen oder Gruppen von Konten jene aus, die du öffnen möchtest.
    </p>
    <section>
        <div class="grid">
            <article role="button" class="outline contrast">&#128212; DE89370400440532013001</article>
            <article role="button" class="outline contrast">&#128212; DE89370400440532013002</article>
            <article role="button" class="outline contrast">&#128212; DE89370400440532013003</article>
        </div>
        <div class="grid">
            <article>&#128218; Gruppe 1</article>
            <article>&#128218; Gruppe 2</article>
            <article>&#128218; Gruppe 3</article>
        </div>
    </section>
    {% if groups or ibans %}
    Wähle
    {% endif %}
    {% if groups %}
    eine Gruppe:
    <ul>
        {% for group in groups %}
        <li><a href="/{{group}}">{{group}}</a></li>
        {% endfor %}
    </ul>
        {% if ibans %}
        oder
        {% endif %}
    {% endif %}
    {% if ibans %}
    ein Konto:
    <ul>
    {% for iban in ibans %}
    <li><a href="/{{iban}}">{{iban}}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    Es sind noch keine Konten vorhanden. Starte mit deinem ersten Import...
    {% endif %}

    <p>
        <button data-target="add-iban" onclick="toggleModal(event)">
        Konten verwalten
        </button>
        <button data-target="add-group" onclick="toggleModal(event)">
        Gruppen verwalten
        </button>
    </p>
    <p>
        <button data-target="settings-popup" onclick="toggleModal(event)">⚙️</button>
    </p>
</main>

<!-- PopUps -->
<dialog id="add-iban">
    <article>
        <header>
            <button aria-label="Close" rel="prev" data-target="add-iban" onclick="toggleModal(event)"></button>
            <h2>Konten verwalten</h2>
        </header>
        <p>Importiere Kontoumsätze in folgendem Konto:</p>
        <div role="group">
            <input type="text" name="iban-input" id="iban-input" placeholder="DE XXXXXXXXXXXXX" list="iban-list" 
                oninput="this.value = this.value.replace(/\s+/g, '')">
            <datalist id="iban-list">
                {% for iban in ibans %}
                <option value="{{iban}}"></option>
                {% endfor %}
            </datalist>
            <button class="outline delete" onclick="deleteDB()">Löschen</button>
        </div>
        <p>
            <select id="bank-type">
                <option value="Generic">Standardimport</option>
                <option>Comdirect</option>
                <option>Commerzbank</option>
                <option>Volksbank Mittelhessen</option>
            </select>
            <small>
                Nicht ünterstützte Banken können als CSV mit
                <span class="long-tooltip" data-tooltip="Spalten: Buchungstag, Valuta, Art, Buchungstext, Betrag, Währung, Gegenkonto (optional) | Trenner ';'">
                    vorgegebenem Format
                </span>
                Über den Standardimport eingelesen werden.
            </small>
        </p>
        <div id="file-drop-area">
            <span id="file-label">Datei hier ablegen oder auswählen<br><small>(PDF / CSV / HTML)</small></span>
            <input type="file" id="file-input" name="file-input" accept=".csv,.pdf,.html" style="display: none;">
        </div>
        <footer>
            <button onclick="uploadFile()">Import</button>
        </footer>
    </article>
</dialog>


<dialog id="add-group">
    <article>
        <header>
            <button aria-label="Close" rel="prev" data-target="add-group" onclick="toggleModal(event)"></button>
            <h2>Gruppen verwalten</h2>
        </header>
        <p>Wähle Konten aus, die zu einer Gruppe hinzugefügt werden sollen:</p>
        <ul>
            {% for iban in ibans %}
            <li>
                <label>
                    <input type="checkbox" name="iban-checkbox" role="switch" value="{{iban}}">
                    {{iban}}
                </label>
            </li>
            {% endfor %}
        </ul>
        <p>
            <input type="text" name="groupname-input" id="groupname-input" placeholder="" list="group-list">
            <datalist id="group-list">
                {% for group in groups %}
                <option value="{{group}}"></option>
                {% endfor %}
            </datalist>
        </p>
        <footer>
            <button class="delete" onclick="deleteDB(true)">Löschen</button>
            <button onclick="saveGroup()">Speichern</button>
        </footer>
    </article>
</dialog>


<dialog id="settings-popup">
    <article>
        <header>
            <button aria-label="Close" rel="prev" data-target='settings-popup' onclick="toggleModal(event)"></button>
            <h2>Settings</h2>
        </header>
        <p>Einstellungen können hier als <kbd>json</kbd> Datei hochgeladen oder über ein Eingabefeld geändert werden.</p>
        <details>
            <summary>
                Import einer Datei in die Datenbank:
            </summary>
            <p>
                <select id="settings-type">
                    <option value="rule">Regel</option>
                    <option value="parser">Parsing-Anweisung</option>
                    <option value="config">Einstellungen</option>
                </select>
            </p>
            <div role="group">
                <div id="settings-drop-area">
                    <span id="file-label">Datei hier ablegen oder auswählen (JSON)</span>
                </div>
                <button onclick="importSettings()">Importieren</button>
            </div>
            <input type="file" id="settings-input" name="settings-input" accept=".csv,.pdf,.html" style="display: none;">
            <small>Diese Datei kann auch im Server-Backend abgelegt werden, um für alle verfügbar zu sein.</small>
        </details>

        <details>
            <summary>
                Abfragen oder Editieren von Werten:
            </summary>
            <p>
                <select id="read-setting">
                    {% for m in meta %}
                    <option value="{{m.uuid}}">{{m.metatype}} "{{m.name}}" ({{m.uuid}})</option>
                    {% endfor %}
                </select>
                <textarea id="set-setting" placeholder="Setting Wert" rows="10" cols="15"></textarea>
            </p>
            <footer dir="rtl">
                <button class="secondary" onclick="loadSetting()">Laden</button>
                <button onclick="saveSetting()">Speichern</button>
            </footer>
        </details>
    </article>
</dialog>

<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}
