{% macro generate_class(input_string) %}
    {# Berechne einen Hashwert und wandle ihn in eine CSS-kompatible Klasse um #}
    {% set hash_value = input_string|hash %}
    {% if hash_value == 0 %}
        {{ '' }}
    {% else %}
        {% set class_name = 'gen-color-' ~ (hash_value % 13) %}
        {{ class_name }}
    {% endif %}
{% endmacro %}

{% macro createTxRow(transaction) -%}
{# Erstellt eine Zeile der Transaktionsübersicht #}

    <tr name="{{ transaction.uuid }}">
        <td><input type="checkbox" class="row-checkbox" name="{{ transaction.uuid }}"
            data-txuuid="{{transaction.uuid}}" data-txdate="{{transaction.date_tx}}"></td>
        <td>
            {{ transaction.date_tx | ctime }}
            <small class="secondary">({{ transaction.valuta | ctime }})</small>
        </td>
        <td>{{ transaction.text_tx[:75] }}{% if transaction.text_tx|length > 60 %} ...{%endif%}</td>
        <td class="hide-m">
            {% if transaction.category %}
            <a class="tag-chip category {{generate_class(transaction.category)}}" href="?category={{transaction.category}}">
                {{ transaction.category }}
            </a>
            {% else %}
            &nbsp;
            {% endif %}
        </td>
        <td class="hide-m">
            {% for tag in transaction.tags %}
            <a class="tag-chip {{generate_class(tag)}}" href="?tags={{tag}}">
                {{ tag }}
            </a>
            {% endfor %}
        </td>
        <td class="betrag" dir="ltr">
            {{ "%.2f"|format(transaction.betrag|round(2)) }}
            <small class="secondary">{{ transaction.currency }}</small>
        </td>
        <td>
            <button class="secondary info" title="Show details" data-target="details-popup" data-tx="{{ transaction.uuid }}"
                onclick="toggleModal(event)">&#8599;</button>
        </td>
    </tr>

{%- endmacro %}

{% macro filterDialog(filters) -%}
{# Erstellt den Dialog mit Inputs und Javascript für die Filterfunktion #}

<dialog id="filter-popup">
    <article>
        <header>
            <button rel="prev" aria-label="Close" data-target="filter-popup" onclick="toggleModal(event)"></button>
            <h2>Transaktions Details</h2>
        </header>

        <label>
            Datum
            <div class="grid">
                <input type="date" id="filter-range-start" placeholder="Start Date: d.m.Y"
                    {% if 'startDate' in filters %}
                        value="{{filters.startDate}}" aria-invalid="false"
                    {% else %}
                        value=""
                    {% endif %}
                />
                <input type="date" id="filter-range-end" placeholder="End Date: d.m.Y"
                    {% if 'endDate' in filters %}
                        value="{{filters.endDate}}" aria-invalid="false"
                    {% else %}
                        value=""
                    {% endif %}
                />
            </div>
        </label>
        <label>
            Überweisungstext
            <input type="text" id="filter-text" placeholder="RegEx Textfilter"
                {% if 'text' in filters %}
                    value="{{filters.text}}" aria-invalid="false"
                {% else %}
                    value=""
                {% endif %}
            />
        </label>
        <label>
            Kategorien
            <input type="text" id="filter-cat" list="cat-list" placeholder="Kategorie"
                {% if 'category' in filters %}
                    value="{{filters.category}}" aria-invalid="false"
                {% else %}
                    value=""
                {% endif %}
            />
        </label>
        <label>
            Tags
            <div id="filter-tag-container"></div>
            <input type="hidden" id="filter-tag-result" autocomplete="off" value="">
            <div class="grid">
                <input type="text" id="filter-tag" list="tag-list" value="" placeholder="weiteres Tag (Enter)" />
                <select id="filter-tag-mode" {% if 'tags' in filters %} aria-invalid="false" {% endif %}/>
                    <option value="in" {{"selected" if filters.tag_mode and filters.tag_mode == 'in'}}>eines davon</option>
                    <option value="all" {{"selected" if filters.tag_mode and filters.tag_mode == 'all'}}>alle davon</option>
                    <option value="notin" {{"selected" if filters.tag_mode and filters.tag_mode == 'notin'}}>keine davon</option>
                </select>
            </div>
        </label>
        <label>
            Betrag
            <div class="grid">
                <input type="number" step="0.01" id="filter-betrag-min" placeholder="Betrag (min)"
                    {% if "betrag_min" in filters %}
                        value="{{filters['betrag_min']}}" aria-invalid="false" />
                    {% else %}
                        value="" />
                    {% endif %}
                <input type="number" step="0.01" id="filter-betrag-max" placeholder="Betrag (max)"
                    {% if "betrag_max" in filters %}
                        value="{{filters['betrag_max']}}" aria-invalid="false" />
                    {% else %}
                        value="" />
                    {% endif %}
            </div>
        </label>

        <footer>
            <button class="contrast" id="reset-filter">Reset</button>
            <button id="apply-filter">Apply</button>
        </footer>

    </article>

    {% if 'tags' in filters %}
    <script>
    document.addEventListener('DOMContentLoaded', function () {

        const inputTagsLoop = document.getElementById("filter-tag");
        {% for t in filters.tags.split(',') %}
        addTagBullet(inputTagsLoop, "filter-tag-container", "filter-tag-result", "{{t}}");
        {% endfor %}

    });
    </script>
    {% endif %}
    
</dialog>

{% endmacro%}
