{% macro createTxRow(transaction) -%}
{# Erstellt eine Zeile der Transaktionsübersicht #}

    <tr name="{{ transaction.uuid }}">
        <td><input type="checkbox" class="row-checkbox" name="{{ transaction.uuid }}"
            data-txuuid="{{transaction.uuid}}" data-txdate="{{transaction.date_tx}}"></td>
        <td>{{ transaction.date_tx | ctime }}</td>
        <td>{{ transaction.text_tx }}</td>
        <td>
            {% if transaction.category %}
            <a class="tag-chip category" href="?category={{transaction.category}}">
                &#128193; {{ transaction.category }}
            </a>
            {% else %}
            &nbsp;
            {% endif %}
        </td>
        <td>
            {% for tag in transaction.tags %}
            <a class="tag-chip" href="?tags={{tag}}">
                {{ tag }}
            </a>
            {% endfor %}
        </td>
        <td class="betrag">{{ transaction.currency }} {{ transaction.betrag }}</td>
        <td>
            <button class="outline secondary" title="Show details" data-target="details-popup" data-tx="{{ transaction.uuid }}"
                onclick="toggleModal(event)">ℹ️</button>
        </td>
    </tr>

{%- endmacro %}
