
{% extends 'layout.html' %}

{% block content %}

<header class="container">
    <nav>
        <ul>
            <li>
                <hgroup>
                    <h3>
                        Statistiken
                    </h3>
                    {{IBAN}}
                </hgroup>
            </li>
        </ul>
        <ul>
            <li>
                &larrhk; <a href="/{{IBAN}}?{{ request.query_string.decode('utf-8')|safe }}">zurück</a>
            </li>
        </ul>
    </nav>
</header>

<main class="container">

    <section>

        <article>
            <h2>Top Kategorie (Beträge)</h2>
            <table class="ranking">
                <tbody>
                    {% for c, betrag in sums.categories.items() %}
                    <tr>
                        <td>{{c}}</td>
                        <td>{{"%.2f"|format(betrag|round(2))}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>

        <article>
            <h2>Top Tags (Beträge)</h2>
            <table class="ranking">
                <tbody>
                    {% for t, betrag in sums.tags.items() %}
                    <tr>
                        <td>{{t}}</td>
                        <td>{{"%.2f"|format(betrag|round(2))}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </article>

    </section>

</main>

<footer>
    <section class="bottom-fixed right">
        <button class="{% if filters.keys() %}primary{%else%}secondary outline{%endif%}" data-target="filter-popup" onclick="toggleModal(event)">&#128207;</button>
    </section>
</footer>

<!-- PopUps -->
{% from 'macros.html' import filterDialog %}
{{ filterDialog(filters) }}

<script src="{{ url_for('static', filename='js/stats.js') }}"></script>

{% endblock %}