{% extends 'layout.html' %}

{% block content %}

<header class="container">
    <nav>
        <ul>
            <li>
                <hgroup>
                    <h3>
                        Transaktionsdetails
                    </h3>
                    {{tx.uuid}}
                </hgroup>
            </li>
        </ul>
        <ul>
            <li>
                <button class="secondary" onclick="window.close()">
                    &times; schließen
                </button>
            </li>
        </ul>
    </nav>
</header>

<main class="container">

    <section>

    <table class="single-transaction">
        <thead>
            <tr>
                <th colspan="2">Umsatzdetails</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Art:</td>
                <td>{{tx.art}}</td>
            </tr>
            <tr>
                <td>Datum (Wertstellnug)</td>
                <td>{{ tx.valuta | ctime }}</td>
            </tr>
            <tr>
                <td>Datum (Transaktion)</td>
                <td>{{ tx.date_tx | ctime }}</td>
            </tr>
            <tr>
                <td>Betrag</td>
                <td>{{tx.betrag}} {{tx.currency}}</td>
            </tr>
            <tr>
                <td>Buchungstext</td>
                <td>{{tx.text_tx}}</td>
            </tr>
        </tbody>
    </table>

    </section>
    <section>

    <table class="single-transaction">
        <thead>
            <tr>
                <th colspan="2">Erweiterte Informationen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Parsed</td>
                <td>
                    {% for key, value in tx.parsed.items() %}
                    <div class="tag-chip parsed">
                        <b>{{ key }}:</b> {{ value }}
                    </div>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    Kategorie
                </td>
                <td>
                    <div role="group">
                        <input type="text" id="cat-input" list="cat-list" placeholder="Kategorie" value="{{tx.category if tx.category else ''}}">
                        <button onclick="manualCatTx('{{tx.uuid}}')">Speichern</button>
                    </div>
                    <datalist id="cat-list">
                        {% for c in cats %}
                        <option>{{ c }}</option>
                        {% endfor %}
                    </datalist>
                </td>
            </tr>
            <tr>
                <td>Tags</td>
                <td>
                    <div id="tag-container"></div>
                    <div role="group">
                        <input type="text" id="tag-input" list="tag-list" placeholder="Neues Tag" value="">
                        <button onclick="manualTagTx('{{tx.uuid}}')">Speichern</button>
                    </div>
                    <datalist id="tag-list">
                        {% for t in tags %}
                        <option>{{ t }}</option>
                        {% endfor %}
                    </datalist>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div role="group" class="collapse">
                        <button class="delete outline" onclick="removeCats('{{tx.uuid}}')">Kategorie entfernen</button>
                        <button class="delete outline" onclick="removeTags('{{tx.uuid}}')">Tags entfernen</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    </section>

</main>

<script src="{{ url_for('static', filename='js/tx.js') }}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    
        // Create Tag Bullets
        const inputField = document.getElementById("tag-input");
    
        {% for tag in tx.tags %}
            addTagBullet(inputField, "tag-container", null, "{{tag}}");
        {% endfor %}
    
    });
</script>

{% endblock %}