{% extends 'layout.html' %}

{% block content %}

<main>
    {% if ibans %}
    Wähle ein Konto oder Gruppe:
    <ul>
    {% for iban in ibans %}
    <li><a href="/{{iban}}">{{iban}}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    Es sind noch keine Konten vorhanden. Starte mit deinem ersten Import...
    {% endif %}

    <p>
        <button id="add-button">
        Umsätze importieren
        </button>
    </p>
</main>

<!-- PopUps -->
<div id="add-popup" style="display: none;" class="popup">
    <h2>Neue Transactionen</h2>
    <p>Importiere Kontoumsätze in folgendem Konto:</p>
    <p>
        <input type="text" name="iban_select" placeholder="DE XXXXXXXXXXXXX" list="iban-list">
        <datalist id="iban-list">
            {% for iban in ibans %}
            <option value="{{iban}}"></option>
            {% endfor %}
        </datalist>
    </p>
    <p>
        <div id="file-drop-area" style="border: 2px dashed #ccc; padding: 20px; text-align: center; cursor: pointer;">
            Datei hier ablegen oder auswählen (PDF / CSV / HTML)
            <input type="file" id="file-input" name="file-input" accept=".csv,.pdf,.html" style="display: none;">
        </div>
    </p>
    <p>
        <button id="import-button">Import</button>
    </p>
    <button onclick="closePopup('add-popup')">Close</button>
</div>

<script src="{{ url_for('static', filename='js/welcome.js') }}"></script>

{% endblock %}
